@charset "UTF-8";
@import './assets/css/theme.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .ProseMirror p {
    margin: 1em 0;
  }

  .ProseMirror > *:first-child {
    margin-top: 0;
  }

  .ProseMirror ul,
  .ProseMirror ol {
    padding: 0 1rem;
  }

  .ProseMirror blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    font-style: italic;
  }

  .ProseMirror:focus {
    outline: none;
  }
}
